.aboutSection {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1.6rem;
  height: 80vh;
}

.aboutLeft {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 50%;
}

.aboutHeading {
  margin-bottom: 0.8rem;
}

.aboutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: max-content;
}

.aboutImage {
  object-fit: fill;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .aboutSection {
    gap: 16rem; /* Adjust the gap for tablet screens */
  }
}

@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 4rem;
  }

  .aboutLeft,
  .aboutRight {
    width: 100%;
  }

  .aboutImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .aboutSection {
    padding: 1rem;
  }
}
