.statisticsRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
}

.statisticsRight h1 {
  color: var(--brand-text-color);
}

.statisticsRight p {
  width: 15.4rem;
}
