.explanation {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 3.2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .explanation {
    gap: 1.2rem;
  }
  .explanation img {
    width: 48px;
    height: auto;
  }

  .whyusTitle h3 {
    margin-bottom: 0.8rem;
  }
}
