.serviceCard {
  position: relative;
}

.serviceCard img {
  width: 33.5rem;
}

.serviceHeading {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--inverse-text-color);
}

@media screen and (max-width: 768px) {
  .serviceCard img {
    width: 26rem;
  }
}
