.serviceCard {
  position: relative;
  width: 308px;
  height: 400px;
}

.serviceImage {
  object-fit: cover;
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.serviceHeading {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--inverse-text-color);
  z-index: 2; /* Ensure the text is above the overlay */
}
