.bannerSection {
  color: var(--inverse-text-color);
}

.bannerImage {
  position: relative;
  overflow: hidden; /* Ensure content does not overflow */
}

.bannerImage img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 6); /* Semi-transparent background */
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  border-radius: 0.8rem;
  max-width: 80%; /* Limit width for better readability */
}

.bannerContentText > h2 {
  margin-bottom: 1.6rem;
}

.bannerButton {
  margin-top: 3.2rem;
  width: auto;
}

@media screen and (max-width: 768px) {
  .bannerSection {
    display: none;
  }

  .bannerContent {
    padding: 1.6rem;
  }
}
