.showcaseHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.showcaseButton {
  display: flex;
  gap: 1.2rem; /* Adjust button gap for responsiveness */
  flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
}

.showcaseButton button {
  margin-bottom: 1rem; /* Space between buttons */
}

.showcaseGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
}

.showcaseGallery img {
  border-radius: 0.8rem;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.showcaseGallery img:hover {
  transform: scale(1.04);
}

.inactive {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--main-bg-color);
  color: var(--brand-text-color);
  border-radius: 0.8rem;
  height: max-content;
  border: 2px solid var(--inverse-bg-color);
}

.showcaseGallery.hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .showcaseHeading {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .showcaseHeading h2 {
    text-align: center;
  }

  .ctaPrimary {
    width: 100%;
  }

  .showcaseGallery img {
    width: 100%;
    height: auto;
  }
}
