.serviceCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.serviceCardContainer.mobile {
  flex-wrap: nowrap;
  overflow-x: auto; /* Use 'auto' for better scrolling */
  scroll-snap-type: x mandatory; /* Ensure snap alignment */
  padding-left: 1.6rem; /* Add padding to start for snapping */
}

.servicesSection {
  margin-top: 3.2rem; /* Adjust margin as needed */
}

.serviceCard {
  flex: 0 0 auto; /* Ensure cards don't shrink */
  scroll-snap-align: start; /* Align to start of container */
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1.2rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #d9d9d9;
}

.dot.active {
  background-color: var(--inverse-bg-color);
}

@media screen and (max-width: 768px) {

  .serviceCardContainer {
   
    justify-content: space-between;
   
  }
  
  .servicesSection h2 {
    text-align: center;
  }

  .serviceCardContainer {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .dotsContainer {
    display: none;
  }
}
