.serviceCardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory;
  gap: 1.6rem;
}

.serviceCardContainer.mobile {
  flex-wrap: nowrap;
  overflow-x: scroll; /* Horizontal scroll for mobile */
  scroll-snap-type: none;
}

.servicesSection {
  margin-top: 3.2rem; /* Adjust margin as needed */
}

.serviceCard {
  flex: 0 0 auto; /* Ensure cards don't shrink */
  scroll-snap-align: start; /* Align to start of container */
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1.2rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #d9d9d9;
}

.dot.active {
  background-color: var(--inverse-bg-color);
}

@media screen and (max-width: 768px) {
  .servicesSection h2 {
    text-align: center;
  }

  .serviceCardContainer {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .dotsContainer {
    display: none;
  }
}
