.statisticsSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.2rem;
}

.statisticsLeft {
  width: 50%;
  max-width: 60%;
  margin-bottom: 1.6rem;
}

.statisticsLeft h2 {
  margin-bottom: 1.6rem;
}

.statisticsRight {
  display: flex;
  justify-content: center;
}

.statsGrid {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  width: 100%;
}

.statsFrist,
.statsSecond {
  display: flex;
  align-items: start;
  column-gap: 16rem;
}

@media screen and (max-width: 1024px) {
  .statisticsSection {
    row-gap: 2rem;
  }
  .statisticsLeft {
    width: 100%;
  }

  .statisticsRight {
    width: 100%;
  }

  .statsGrid {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 2rem;
  }

  .statsFrist,
  .statsSecond {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .statisticsSection {
    flex-direction: column;
  }

  .statisticsLeft {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .statisticsRight {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .statisticsLeft {
    margin-bottom: 1rem;
  }
}
